package index
//import "github.com/russross/blackfriday"
//Should probably do this with prop

templ Show() {
<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8"/>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <h1>Hello World!</h1>
        <div
            hx-get="/blog"
            hx-trigger="load"
        >
        </div>
    </body>
</html>

}
